BODY,TD,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt;color:000000;}

TD {line-height:140%}

A:link    {color:003296;text-decoration:none;}
A:visited {color:003296;text-decoration:none;}
A:active  {color:996666;text-decoration:none;}
A:hover  {color:996666;text-decoration:underline;}

.paper {color:white;font-weight:bold;}
.paper_a {margin-left:4;margin-right:4}
A.paper_a:link {color:white;text-decoration:none;}
A.paper_a:visited {color:white;text-decoration:none;}
A.paper_a:hover {color:996666;text-decoration:underline;}

.time_e {color:White;font-size:8pt;}

.list_main {padding-left:12;}

.branch1 {padding-left:10;font-weight:bold;}

.branch2 {font-size:8pt;padding-left:10;}

.branch3 {padding-left:10;}

A.branch_a:link {color:Black;text-decoration:none;}
A.branch_a:visited {color:Black;text-decoration:none;}
A.branch_a:hover {color:996666;text-decoration:underline;}

A.disable:link {color:e2e2e2;text-decoration:none;}
A.disable:visited {color:e2e2e2;text-decoration:none;}
A.disable:hover {color:e2e2e2;text-decoration:underline;}

.text {
	FONT: 9pt "dotum";
}
.bottom_text {
	FONT: 8pt "dotum";
}
.text_bottom_menu {
	COLOR: #252C83; FONT: 9pt "dotum";
}
.menu {
	COLOR: #FFFFFF; FONT: bold 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.menu:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu2 {
	COLOR: #000000; FONT: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.menu2:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu2:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu2:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.menu3 {
	COLOR: #060139; FONT: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.menu3:link {
	COLOR: #060139; TEXT-DECORATION: none
}
A.menu3:visited {
	COLOR: #060139; TEXT-DECORATION: none
}
A.menu3:hover {
	COLOR: #060139; TEXT-DECORATION: none
}
.menu4 {
	COLOR: #252C83; FONT: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.menu4:link {
	COLOR: #252C83; TEXT-DECORATION: none
}
A.menu4:visited {
	COLOR: #252C83; TEXT-DECORATION: none
}
A.menu4:hover {
	COLOR: #252C83; TEXT-DECORATION: none
}
.title {
	color: #003399; FONT: 18pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.title:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.title:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.title:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
.sub_title {
	color: #4D4D4D; FONT: bold 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
.letter_main {
	FONT: 9pt "dotum";
	color: #000000;
	text-decoration: none;
    line-height: 18px;
}
.letter {
	FONT: 11pt "gulim";
	color: #000000;
	text-decoration: none;
    line-height: 18px;
}
.box {
	color: #003399; font: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.box:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.box:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.box:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
.box2 {
	color: #003399; font: 11pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.box2:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.box2:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.box2:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
.left_bottom {
	color: #003399; font: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.left_bottom:link {
	COLOR: #003399; TEXT-DECORATION: underline
}
A.left_bottom:visited {
	COLOR: #003399; TEXT-DECORATION: underline
}
A.left_bottom:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
.icon {
	color: #818181; font: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.icon:link {
	COLOR: #818181; TEXT-DECORATION: none
}
A.icon:visited {
	COLOR: #818181; TEXT-DECORATION: none
}
A.icon:hover {
	COLOR: #818181; TEXT-DECORATION: underline
}
.section_title {
	color: #cc0000; font: 9pt "dotum"; MARGIN-LEFT: 0px; MARGIN-TOP: 0px;
}
A.section_title:link {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.section_title:visited {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.section_title:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}

.N1 {
	FONT-SIZE: 9pt; COLOR: #464646; FONT-FAMILY: "dotum", "gulim"
}